*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slide{
    display: flex;
}
.slide li{
    flex-shrink: 0;
    width: 80vw;
    max-width: 800px;
    margin: 0 20px;

    opacity: .7;
    border-radius: 6px;
    box-shadow:  0 2px 4px rgba(0, 0, 0, .4);
    overflow: hidden;
    transition: .4s;
    transform: scale(.8);
}

.slide:hover{
    will-change: transform;
}
.slide-warpper{
    overflow: hidden;
}
img{
    display: block;
    max-width: 100%;
}


.slide li.active{
    opacity: 1;
    transform: scale(1);
}