*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slide{
    display: flex;
}
.slide li{
    flex-shrink: 0;
    width: 80vw;
    max-width: 800px;
    margin: 0 20px;
}
.slide-warpper{
    overflow: hidden;
}
img{
    display: block;
    max-width: 100%;
}